body {
    margin: 0px;
    width: 100%;
}

hr {
    width: 90%;
    text-align: center;
}

.container {
    width: 100%;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 30px;
}

.section1 h2, .section3 h2, .section1 p, .section2 p {
    color: #4b7362;
}

.section2 h2, .section4 h2, .section2 p, .section4 p {
    color: #f2f0f0;
}

p {
    font-family: 'Bebas Neue', cursive;
    color: #4b7362;
    font-size: 20px; 
}

.sub_header {
    color: #4dbf6b;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    text-align: center; 
}

.div_title {
    margin-top: 50px;
    margin-bottom: 10px;
}

.title {
    color: #4dbf6b;
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    text-align: center; 
}

.section1 {
    height: 500px;
    background-color: white;
    padding: 50px;
}

.section3 {
    height: 500px;
    background-color: white;
    padding: 50px;
}

.section2, .section4 {
    height: 500px;
    background-color: #67b87c;
    padding: 50px;

}

.boxInSection {
    padding: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.imgContainer_right, .imgContainer_left, .textContainer_right, .textContainer_left  {
    padding: 25px;
    margin: 0 auto;
}

.threeBoxes_container {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    display: inline-block;
    width: 30%;    

}

.threeBoxes_container h2 {
    text-align: center;
}

.threeBoxes_container h2, .threeBoxes_container p {
    color: #4b7362;
}

.centerText {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediumText {
    font-size: 50px;
}

.bigText {      
    font-size: 70px;
     
}

canvas {
    margin: 0 auto;
}

.imgContainer_left {    
    margin: 0 auto;
    width: 30%;    
    float: left;

}

.imgContainer_right {    
    margin: 0 auto;
    width: 30%;    
    float: right;

}

.textContainer_left {
    width: 50%;
    float: left;

}

.textContainer_right {
    width: 50%;
    float: right;

}

img {   
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/*fish comparsion*/
/*https://pixabay.com/vectors/clean-environment-garbage-recycle-1223168/*/

/*plastic bag smiley face*/
/*https://pixabay.com/photos/have-a-nice-day-plastic-bag-bag-4673649/*/


/*recycle bag*/
/*https://pixabay.com/vectors/recycle-shopping-bag-arrows-cycle-151416/*/


/*https://www.globalcitizen.org/en/content/plastic-pollution-facts/*/
/*https://www.biologicaldiversity.org/programs/population_and_sustainability/sustainability/plastic_bag_facts.html*/
